

#container{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	max-width: 1000px;
	background-color: #D4D4D4;
}

header{
	height: 100px;
	margin: 0px auto;
	background-color: white;
}

.big{
	background-color: #D4D4D4;
	margin: 0 auto;
	width: 90%;
	padding: 0;
	max-width: 1800px;
	height: 100%;
	position: relative;
	font-size: 50px;
}

h1{
	font-size: 50px;
}

.logo{
	margin: 0 auto;
	width: 90%;
	padding: 0;
	max-width: 1800px;
	height: 100%;
	background-color: white;
	position: relative;
}


h1{
	font-size: 65px;
	
}

.flecha{
  background-repeat: no-repeat;	
}

h2{
	color: #F13B9D;
	display: inline;
	font-size: 40px;
}



h3{
	text-align: right;
	color: #F13B9D;
	display: inline;
}

.menu ul{
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	padding: 8px 8px;
	display: block;
	color: #F13B9D;
	text-decoration: none;
	font-size: 40px;
	margin-right: 3px;
	font-weight: bold;
}
.menu ul li a{
	margin-left: 2%;
}

.caja1, .caja2, .caja3{
	background-color: #605B5B;
	color: white;
	margin-left: 2%;
	padding: 10px 10px;
	display: block;
	float: left;
}

.numerouno, .numerodos, .numerotres{
	float: left;
	border-right: 1px solid white;
	font-size: 150px;
}

.numerouno{
	color: #1BF935;
	
}

.numerodos{
	color: #F2923D;
	
}

.numerotres{
	color: #2CD8EC;
	
}



body{
	background: #D4D4D4;
}


table{
	position: relative;
	width: 100%;
	
margin-top: 20%;
}
tr, td{
	width: 400px;
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 20px;
	font-size: 20px;
}


.con{
	background-color: red; 
	font-size: 20px;
	float: right; 
	margin-right: 30%;
	margin-top: 2%;
	padding: 5px 5px;
	text-decoration: none;
	color: white;
	margin-bottom: 2%;
}

.cajas{
	margin-left: 25%;
	display: block;
}

.menuu{
	margin-left: 50%;
	
}

.st{
	float: left;
	padding-top: 100px;
	font-size: 30px;
	padding-left: 10px;
	font-weight: bold;
}

.li{
	float: left;
}

@media only screen and (800px) {
	.container, table, .final{
		margin: 0;
		
		overflow: hidden;
		width: 100%;
	font-variant: small-caps;
	}
	}

	footer{
	height: 120px;
	background-color: black;
	border-top: 5px solid pink;
color: white;
font-size: 20px;
clear: both;
}

.final{
	background-color: black;
	margin: 0 auto;
	width: 90%;
	padding: 0;
	max-width: 1900px;
	height: 100%;
	position: relative;
	font-size: 20px;
}